@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?inzpiw');
  src:  url('../fonts/icomoon.eot?inzpiw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?inzpiw') format('truetype'),
    url('../fonts/icomoon.woff?inzpiw') format('woff'),
    url('../fonts/icomoon.svg?inzpiw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-booking:before {
  content: "\e900";
}
.icon-click:before {
  content: "\e901";
}
.icon-Group:before {
  content: "\e902";
}
.icon-Palette:before {
  content: "\e903";
}
.icon-Vector:before {
  content: "\e904";
}
.icon-dot:before {
  content: "\e905";
}
.icon-left:before {
  content: "\e906";
}
.icon-play:before {
  content: "\e907";
}
.icon-right:before {
  content: "\e908";
}
.icon-v:before {
  content: "\e909";
}
.icon-dot_v:before {
  content: "\e910";
}
.icon-back-top:before {
  content: "\e911";
}
.icon-evanto:before {
  content: "\e912";
}
