@media (min-width:1200px) {
    .container{
        min-width: 1240px;
    }
    .row-30{
        margin: 0px -30px;
    }
    .col-30{
        padding:0px 30px;
    }
    .row-60{
        margin: 0px -60px;
    }
    .col-60{
        padding:0px 60px;
    }
    .header-top{
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0px; 
        background: #fff;
        z-index:11;
    }
    .banner-main{
        margin-top: 68px;
    }
}
.header-top{
    padding: 12px 0px;
    box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.04);
    
    @media (max-width:1199px){
        padding: 0px;
        box-shadow:none;
    }
    .list-top{
        list-style: none;
        float: right;
        display: flex;
        align-items: center;
        li{
            float: left;
            font-weight: 400;
            font-size: 15px;
            line-height: 26px;
            padding: 0px 15px;
            &:first-child{
                display: none;
            }
            &:nth-child(2){
                padding-left: 0px;
            }
            &:last-child{
                padding-right: 0px;
            }
            img{
                margin-right: 12px;
            }
            a.btn-header{
                background: #FFC238;
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
                border-radius: 40px;
                padding: 8px 16px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 15px;
                line-height: 24px;
                text-align: center;
                color: #2D2D2D;
            }
        } 
        @media (max-width:1199px){
            display:block;
            float: none;
            li{
                float: none;
                padding: 10px 20px;
                &:first-child{
                    display: block;
                }
                &:nth-child(2){
                    padding-left: 20px;
                }
                &:last-child{
                    padding-right: 20px;
                }
                img{
                    max-width: 18px;
                }
                .logo-mobile{
                    img{ 
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .menu_mb{
        padding: 12px 0px;
        box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.04);
        background: #fff;
        .logo-mobile{
            position: absolute;
            left: 120px;
            @media (max-width:767px){
                left: 15px;
            }
        }
    }
}
.block-view{
    background: #2D2D2D;
    padding: 36px 0px;
    .box-review{
        background: #FFFFFF; 
        box-shadow: 20px 12px 30px rgba(0, 0, 0, 0.04);
        border-radius: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        .brand{
            text-align: center;
            width: calc(100% - 170px);
            img{
                max-width: 160px;
            }
            @media (min-width:992px)and(max-width:1199px){
                width: calc(100% - 140px);
                img{
                    max-width: 110px;
                }
            }
        }
        .reating{
            min-width:130px;
            background:#3A7AF3;
            padding: 11px 20px;
            position: relative;
            @media (min-width:992px)and(max-width:1199px){
                padding: 11px 5px;
            }
            &::before{
                position: absolute;
                content:'';
                width: 75px;
                height: 70px;
                border-radius: 50%;
                background:#3A7AF3;
                left: -32px;
                top: 0px;
                z-index: 1;
            }
            ul{ 
                text-align: center;
                max-width: 130px;
                margin: auto;
                position: relative;
                z-index: 2;
                li{
                    float: none;
                    display: inline-block;
                    i{
                        color: #FFC238; 
                    }
                }
                span{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: #fff;
                }
            }
            p{
                position: relative;
                z-index: 2;
                clear: both;
                text-align: center;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #fff;
            }
        } 
        &.box-brand-2{
            .reating{
                background: #36605d;
                &::before{
                    background: #36605d;
                }
            }
        }
        &.box-brand-3{
            .reating{
                background: #818181;
                &::before{
                    background: #818181;
                }
            }
        }
        @media (max-width:991px){
            max-width: 390px;
            margin: 15px auto;
        }
    } 
    &.block-view-2{
        @media (min-width:992px){
            background: #fff;
            padding-bottom: 120px;
            .item-block-view{
                margin-top: -70px;
            }
        } 
    }
}
h2.title-home{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #494949;
    margin-bottom:0px;
}
.banner-main{
    padding: 32px 0px;
    background: url(../img/bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    .text-banner{
        margin-top: 85px;
        h2{
            font-weight: 700;
            font-size: 52px;
            line-height: 62px;
            color: #494949;
            span{
                color: #ffc238;
            }
        }
        p{
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            color: #494949;
            margin-top: 22px;
            span{
                font-weight: bold;
                color: #000;
            }
        }
        .btn-banner{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-top: 42px;
            background: #FFC238;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 40px;
            width: 210px;
            height: 60px;
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            text-transform: uppercase;
            color: #494949;
        }
    }
    .img-banner{
        img{
            max-width:482px;
            width: 100%;
        }
    }
    .img-ft{
        position: relative;
        z-index: 10;
        margin-top: -15px;
        .icon-ft{
            max-width: 610px;
            width: 100%;
            background: #FEF1D4;
            border: 1px solid #FFC238;
            box-shadow: 20px 12px 30px rgba(0, 0, 0, 0.04);
            border-radius: 12px;
            padding: 23px 35px;
            display: flex;
            justify-content: space-between;
            li{
                display: inline-flex;
                img{
                    max-width: 46px;
                    height: 45px;
                    width: auto;
                    margin-right: 15px;
                }
                span{
                    color: #393939;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    text-align: left;
                }
            }
            @media (max-width:575px){
                flex-flow: column;
                li{
                    margin-bottom:20px;
                    justify-content: center;
                    align-items: center;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    &.banner-2{
        padding: 80px 0px 127px 0px;
        background: url(../img/banner2.png);
        background-repeat: no-repeat;
        background-size: cover;
        .text-banner{
            text-align: center;
            h2, p{
                color: #fff;
            }
            .btn-banner{
                color: #1A1A1A; 
                margin-bottom: 52px; 
            }
        }
        .box-icon{
            list-style: none;
            display: flex;
            max-width: 670px;
            width: 100%;
            margin: auto;
            li{
                width: 33.33%;
                text-align: center;
                img{
                    margin-bottom: 15px;
                }
                p{
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    color: #FFFFFF;
                }
            }
        }
    }
    @media (min-width:992px)and(max-width:1199px){
        .text-banner{
            h2{
                font-size: 40px;
                line-height:52px;
            }
        } 
        .img-banner{
            img{
                max-width:482px;
                width: 100%;
            }
        }
        .img-ft{ 
            img{
                max-width:605px;
                width: 100%;
            }
        }
    }
    @media (max-width:991px){
        .text-banner{
            margin: 45px 0px;
            h2{
                font-size: 40px;
                line-height:52px;
            }
        }
        .img-banner{
            text-align: center;
            img{
                max-width:482px;
                width: 100%;
            }
        }
        .img-ft{ 
            text-align: center;
            img{
                max-width:605px;
                width: 100%;
            }
        }
        &.banner-2{
            padding: 60px 0px;
            .box-icon{
                display: block;
                li{
                    width: 100%;
                    margin-bottom: 25px;
                }
            }
        }
    }
}
.about_Us{
    padding: 80px 0px 130px 0px;
    background: #E5E5E5;  
    .slider_custom{
        max-width: 1100px;
        margin: auto;
        .item{
            padding-top: 105px;
            .box-custom{
                background: #FFFFFF;
                border: 1px solid #EAEAEA;
                box-shadow: 20px 12px 30px rgba(0, 0, 0, 0.04);
                border-radius: 12px;
                text-align: center;
                padding: 0px 30px 48px 30px;
                min-height: 396px;
                @media (max-width:767px){
                    padding: 0px 15px 48px 15px;
                } 
                .img-custom{
                    position: relative;
                    img{
                        position: absolute;
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        top: -60px;
                        left: 0px;
                        right: 0px;
                        margin: auto;
                    }
                }
                .name-custom{
                    color: #494949;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 26px;
                    margin: 20px 0px 5px 0px;
                    margin-top: 80px;
                }
                .note-custom{
                    color: #7D7D7D; 
                    font-style: italic;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 26px;
                    margin-bottom: 16px;
                }
                .desc-custom{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 24px;
                    margin-bottom: 15px;
                    b{
                        color: #464646;
                    }
                } 
                .logo-custom{
                    img{
                        max-width: 160px;
                        margin: auto;
                    }
                }
            }
        } 
        .owl-nav{
            top: 60%;
            .arrow-slider{
                width: 48px;
                height: 48px;
                line-height: 48px;
                box-shadow: none;
                color: #494949;
            }
            .owl-prev, .owl-next{
                opacity: 1;
            }
            .owl-prev{
                @media (min-width:1200px) {
                    left: -70px;
                }
                @media (max-width:1199px){
                    left: -15px;
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
                }
            }
            .owl-next{
                @media (min-width:1200px) {
                    right: -70px;
                }
                @media (max-width:1199px){
                    right: -15px;
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
                }
            }
        }
        .owl-dots{
            bottom: -70px;
            .owl-dot{
                span{
                    width: 12px;
                    height: 12px;
                    margin: 5px 8px;
                    background:#d1d1d1;
                }
                &.active{
                    span{
                        background:#ffc238;
                    }
                }
            }
        }
    }
} 
.block-businesses{
    padding: 60px 0px;
    text-align: center;
    h2.title-home{
        margin-bottom: 15px;
    }
    .desc-businesses{
        font-weight: 400;
        font-size: 15px;
        line-height: 26px; 
        text-align: center;
        color: #494949;
        margin-bottom: 40px;
    }
    .slider-businesses{
        max-width: 1100px;
        margin: auto;
        .item{
            text-align: center;
            img{
                max-width: 172px;
                margin: auto;
            }
        }
        .owl-nav{
            .owl-prev{
                left: -40px;
                opacity: 1;
                background: #fff;
                border: 1px solid #494949;
                top: -24px; 
                @media (max-width:991px){
                    left:0px;
                }
            }
            .owl-next{
                right: -40px;
                opacity: 1;
                background: #fff;
                border: 1px solid #494949;
                top: -24px; 
                @media (max-width:991px){
                    right:0px;
                }
            }
            .arrow-slider {
                width: 48px;
                height: 48px;
                line-height: 48px;
                box-shadow: none;
                color: #494949;
                opacity: 1;
            }
        }
    }
}
.translation-service{
    padding: 80px 0px;
    background: url(../img/bg-2.png);
    background-repeat: no-repeat; 
    background-size: cover;
    .title-home{
        margin-bottom: 45px;
    }
    .box-service{
        max-width: 1100px;
        margin: auto;
        background: #FFFFFF;
        border: 1px solid #DBDBDB;
        box-shadow: 20px 12px 30px rgba(0, 0, 0, 0.04);
        border-radius: 12px;
        padding: 40px 50px;
        .form-group{
            display: block;
            overflow: hidden;
            margin-bottom: 30px;
        }
        .select-box{
            position: relative;
            label{
                color: #494949;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 12px;
            }
            select{
                background: #FFFFFF;
                border: 1px solid #EAEAEA;
                box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.04);
                border-radius: 12px;
                height: 56px;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                color: #494949;
                appearance: none; 
            }
            i{
                position: absolute;
                bottom: 20px;
                right: 15px;
                color: #494949;
            }
        }
        .button-from{
            label{
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                text-transform: uppercase; 
                color: #494949;
                margin-bottom: 12px;
                width: 100%;
                max-width: 270px;
                float: right;
            }
            .btn{
                background: #FEF1D4;
                border: 2px solid #FFC238;
                box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.04);
                border-radius: 12px;
                max-width: 270px;
                height: 56px;
                width: 100%;
                float: right;
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
                color: #494949;
            }
            .box-icon-row{
                position: absolute;
                bottom: 40px;
                left: 0px;
                width: 46px;
                animation: aniName-row 2s infinite;   
            } 
        }
        .list-service{
            margin-bottom: 30px;
            li{
                list-style: none;
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                color: #494949;
                position: relative;
                padding-left: 20px; 
                &::after{
                    position: absolute;
                    content:'';
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #494949;
                    top: 7px;
                    left: 0px;
                }
            }
        }
        .bottom-service{
            padding: 26px 40px;
            background: #F1F1F1;
            border: 1px solid #EAEAEA;
            border-radius: 12px;
            display: flex;
            justify-content: space-between;
            .item-text{
                display: flex;
                align-items: center;
                img{
                    margin-right: 35px;
                }
                .text-sv{
                    h3{
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 26px;
                        color: #000;
                        margin-bottom: 8px;
                    } 
                    p{
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        color: #494949;
                    }
                }
            }
            button{
                background: #FFC238;
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
                border-radius: 40px;
                width: 197px;
                height: 60px;
                border:none;
                color:#494949;
                text-transform: capitalize;
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
            }
        }
        @media (min-width:992px)and(max-width:1199px){
            .button-from{
                .btn, label{
                    max-width: 210px;
                }
            }
        }
        @media (max-width:991px){
            .button-from{
                label{
                    max-width: 100%;
                }
                .btn{
                    max-width: calc(100% - 70px); 
                }
            }
            .bottom-service{
                padding: 15px;
            }
        }
        @media (max-width:767px){
            padding: 15px; 
            .bottom-service{
                flex-direction: column;
                align-items: center;
                .item-text{
                    text-align: center;
                    img{
                        display: none;
                    }
                }
                button{
                    margin-top: 15px;
                }
            }
        }
    }
}
.our-services{
    padding: 100px 0px 80px 0px;
    background: #fafafa;
    .title-home{
        margin-bottom: 25px;
    }
    .desc-our-services{
        max-width: 815px;
        margin: auto;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
        color: #494949;
        text-align: center;
    }
    .box-our-services{
        text-align: center;
        padding: 40px 25px;
        border-radius: 12px;
        border: 1px solid transparent;
        margin-bottom: 20px;
        transition: 0.35s;
        img{
            margin: auto;
            margin-bottom: 32px;
            max-width: 100%; 
        }
        h3{
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #494949;
            margin-bottom:12px;
        }
        .desc-our-sv{
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #494949;
        }
        &:hover{
            cursor: pointer;
            background: #fff;
            transition: 0.25s;
            border: 1px solid #EAEAEA;
            box-shadow: 20px 12px 30px rgba(0, 0, 0, 0.04);
        }
        @media (max-width:991px){
            max-width: 380px;
            margin: auto;
            padding: 40px 15px 30px 15px;
        }
    }
}
.translation-services{
    background:#fafafa;
    padding-bottom:200px; 
    .title-home{
        margin-bottom: 25px;
    }
    .desc-our-services{
        max-width: 915px;
        margin: auto;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
        color: #494949;
        text-align: center;
    }
    .list-translation-services{
        li{
            padding: 20px 30px;
            margin-bottom: 10px;
            border: 1px solid transparent; 
            border-radius: 12px;
            transition: 0.35s; 
            h3{
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #494949;
                margin-bottom: 8px;
            }
            p{
                font-weight: 400;
                font-size: 15px;
                line-height: 24px;
                color: #494949;
            }
            &:hover{
                cursor: pointer;
                background: #fff;
                transition: 0.25s;
                border: 1px solid #ffc238; 
                box-shadow: 20px 12px 30px rgba(0, 0, 0, 0.04);
            }
        }
    }
    @media (max-width:1500px){
        .list-translation-services{ 
            li{
                max-width: 605px; 
            }
        }
    }
    @media (min-width:1200px){
        background: url(../img/img-translate.png) no-repeat top 150px right 0 #fafafa; 
        background-size: 600px 660px;
    }
    @media (max-width:1199px){ 
        .list-translation-services{
            max-width: 605px;
            margin: auto;
            li{
                padding: 15px;
            }
        }
    }
}
.count-service{
    padding: 70px 0px 20px 0px;
    background: #2D2D2D;
    h2.title-home{
        color: #fff;
        margin-bottom: 50px;
    }
    .box-count{
        margin-bottom: 50px;
        #shiva{
            color: #FFC238;
            text-align: center;
            font-weight: 700;
            font-size: 50px;
            line-height: 59px;
            p{
                color: #FAFAFA;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                margin-top: 12px;
            }
        }
    }
}
.questions{
    padding: 100px 0px;
    background:#fafafa;
    h2.title-home{
        margin-bottom: 40px;
    }
    .box-questions{
        max-width: 815px;
        margin: 0px auto;
        li.has-dropdown{ 
            padding: 28px 0px;
            border-bottom: 2px solid #EAEAEA; 
            a{
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: #494949;
            }
            .content-questions{
                visibility: hidden;
                height: 0px;
                opacity: 0;
                margin-top: 16px;
                transition: 0.25s;
            }
            &::after{
                width: 27px;
                height: 27px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                content: "\f107";
                font-size: 25px;
                top:35px;
            }
            &.is-active{
                .content-questions{
                    visibility: visible;
                    transition: 0.35s;
                    height: auto;
                    opacity: 1;
                }
                &::after{
                    transform: rotate(180deg);
                }
            }
            @media (max-width:767px){
                padding: 15px 30px 15px 0px;
                a{
                    font-size: 16px; 
                    line-height: 20px;
                }
            }
        }
    }
}
.project{
    padding: 55px 0px 0px 0px;
    background: url(../img/bg-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    .text-project{
        padding-top: 70px;
        h2{
            font-weight: 700;
            font-size: 52px;
            line-height: 61px;
            color: #494949;
        }
        p{
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            margin-top: 24px;
            color:#494949;
            span{
                color: #000;
                font-weight: bold;
            }
        }
        .btn-project{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-top: 42px;
            background: #FFC238;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 40px;
            width: 197px;
            height: 60px;
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            text-transform: uppercase;
            color: #494949;
        }
    }
    .img-project{
        position: relative;
        img{
            max-width: 100%;
            width: 100%;
            position: relative;
            z-index: 9;
            bottom: -10px;
            top: inherit!important;
        } 
        .text-1, .text-2{
            position: absolute!important;
            z-index: 10;
            max-width: 176px;
            height: 75px;
            width: 100%;
            background: #FFFFFF;
            border: 2px solid #FFC238;
            box-shadow: 20px 12px 30px rgba(0, 0, 0, 0.04);
            border-radius: 12px;
            text-align: center;  
            padding: 10px;
            p{
                color:#494949;
            }
        }
        .text-1{ 
            top: 120px!important;
            right: 0px; 
            left: inherit!important;
            text-transform: uppercase;
            font-weight: 700;
        }
        .text-2{ 
            top: unset!important;
            bottom: 110px!important;
            left: -15px!important;
            font-weight:500;
        }
        @media (max-width:525px){
            .text-1, .text-2{
                max-width: 140px;
                height: 55px;
                font-size: 12px; 
                p{
                    margin-bottom: 0px;
                    line-height: 18px;
                }
            }
        }
    }
    @media (max-width:1199px){
        .text-project{
            padding-top: 70px;
            h2{
                font-size: 32px;
                line-height: 40px;
            } 
        }
    }
}
.contact{
    padding: 80px 0px;
    background:#fafafa;
    .box-contact{
        padding: 30px 30px 30px 50px;
        display: flex; 
        justify-content: space-between;
        box-shadow: 20px 12px 30px rgba(0, 0, 0, 0.04);
        border-radius: 12px;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        min-height: 330px;
        .item{
            padding-top: 40px;
            max-width: 236px;
            img{
                margin-bottom: 30px; 
            }
            p{
                font-weight: 700;
                font-size:20px;
                line-height: 34px;
                color: #494949;
            }
        }
        .box-img-ct{
            width:280px;
            margin: auto;
            position: relative;
            min-height:260px;
            height: 100%;
            .img-1, .img-2, .img-3{
                position: absolute; 
                transform: rotate(45deg);
                border: 1px solid #EAEAEA; 
                border-radius:12px;
                display: inline-flex;
                justify-content: center;
                align-items: center; 
                box-shadow: 20px 12px 30px #0000000a;
                img{ 
                    margin: auto;
                    width: 100%;
                }
            }
            .img-1{ 
                top: 30px;
                left:20px;
                width: 120px;
                height: 120px;  
                img{
                    max-width: 98px;
                    height: auto;
                    transform: rotate(-45deg);
                }
            }
            .img-2{
                width: 98px;
                height: 98px;
                bottom: 80px;
                right: 10px;
                img{ 
                    height: 35px;
                    width: auto;
                    transform: rotate(-45deg);
                }
            }
            .img-3{
                width: 82px;
                height: 82px;
                bottom: 20px;
                right: 100px;
                img{ 
                    height: 35px;
                    width: auto;
                    transform: rotate(-45deg);
                }
            }
        }
        @media (max-width:1199px){
            max-width: 575px;
            margin: auto;
            padding: 15px 15px 15px 30px;
            .item{
                padding-top: 70px;
                img{
                    margin-bottom:10px; 
                }
                p{
                    font-size:16px;
                    line-height:24px
                }
            }
            .box-img-ct{
                img{
                    max-width: 205px; 
                }
            }
        }
        @media (max-width:575px){
            flex-flow: column;
            text-align: center;
            margin-bottom: 20px;
            .item{
                max-width: inherit;
                width: 100%;
                padding-top: 20px;
                margin-bottom: 40px;
            }
        }
    }
    .box-text-contact{
        padding-left: 60px; 
        h4{
            font-weight: 700;
            font-size: 30px;
            line-height: 35px;
            color: #494949;
            margin-bottom: 20px;
        }
        p{
            font-weight: 400;
            font-size: 15px;
            line-height: 26px;
            color: #494949;
            margin-bottom: 12px;
        }
        .list-ct{
            margin-bottom: 40px;
            li{
                list-style: none;
                font-weight: 400;
                font-size: 15px;
                line-height: 26px;
                margin-bottom: 12px;
                img{
                    margin-right: 13px;
                }
            }
        }
        .socia-ct{
            display: flex;
            align-items: center;
            li{
                float: left;
                &:first-child{
                    margin-right:22px;
                }
                margin-right: 15px;
            }
        }
        @media (max-width:1199px){
             padding-left: 0px; 
        }
        @media (max-width:991px){
            max-width: 575px;
            margin: auto;
            margin-top: 40px;
        }
        @media (max-width:767px){
            padding-left: 0px;
        }
    }
}
.copyright{
    padding: 22px 0px;
    background: #2D2D2D;
    text-align: center;
    ul{
        text-align: center;
        li{
            padding: 0px 10px;
            font-weight: 400;
            font-size: 15px;
            line-height: 26px;
            color: #fff;
            float: none;
            display:inline-block;
        }
    }
}
@keyframes aniName-row {
    0% { left: 0px; }
    50% { left: 5%;}
    100% { left: 0px; }
}
@-moz-keyframes aniName-row {
    0% { left: 0px; }
    50% { left: 5%; }
    100% { left: 0px; }
}

@-webkit-keyframes aniName-row {
    0% { left: 0px; }
    50% { left: 5%;}
    100% { left: 0px; }
}

@-o-keyframes aniName-row {
    0% { left: 0px; }
    50% { left: 5%;}
    100% { left: 0px; }
}