@media (min-width:1200px) {
    .row-35{
        margin: 0px -35px;
    }
    .col-35{
        padding: 0px 35px;
    }
}
.our-global-offices{
    h2{
        position: relative;
        text-align: center;
        font-size: 35px;
        font-weight: 400; 
        line-height: 49px;
        margin-bottom: 45px;
        &::before{
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: -5px;
            content: "";
            margin: auto;
            width: 124px;
            height: 3px;
            background:#fed03e;
        }
    }
    .box-country{
        text-align: center;
        background:#f7f7f7;
        height: 177px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        .img-country{ 
            img{
                width: auto;
                height: 95px;
            }
        }
        h4{
            font-size: 20px;
            color: #515151;
            margin-top: 20px;
        }
    }
    .content-offices{
        padding: 25px;
        background:#f7f7f7;
        overflow: hidden;
        margin-bottom: 25px;
        h3{
            font-size: 20px;
            color: #515151;
            margin-bottom: 25px; 
            span{
                position: relative;
                display: inline-block;
                padding-bottom: 10px; 
                &::after{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    background:#fed03e;
                    left: 0px;
                    bottom: 0px;
                }
            }  
        }
        .address-offices{
            li{
                float: left;
                list-style: none;
                width: 33.33%;
                padding: 0px 15px;
                text-align: center;
                img{
                    max-width: 17px;
                    width: 100%;
                    height: auto;
                    margin-right: 5px;
                }
                &:nth-child(1){
                    text-align: left;
                    padding-left: 0px;
                }
            }
        }
        @media (max-width:991px){
            .address-offices{
                li{
                    float: none;
                    width: 100%;
                    margin-bottom: 25px;
                    text-align: left;
                    padding: 0px;
                }
            }
        }
        @media (max-width:767px){
            padding: 15px;
        } 
    } 
}
.custom-about{
    background:#fff4d2;
    padding: 30px 0px;
    .container{
        background: #f7f7f7;
        padding: 60px 0px 90px 0px;
    }
    .slider_custom{
        max-width: 900px;
        .item{
            .box-custom{
                min-height: auto;
                .desc-custom{
                    text-align: left;
                }
            }
        }
    } 
}